<mat-nav-list>

  <a mat-list-item routerLink="/welcome" (click)="OnClose()" *ngIf="isAuth">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Welcome</span>
  </a>

  <a mat-list-item routerLink="/booking" (click)="OnClose()" *ngIf="isAuth">
    <mat-icon>av_timer</mat-icon>
    <span class="nav-caption">Booking</span>
  </a>

  <mat-list-item (click)="onLogout()" *ngIf="isAuth">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span id="logout">Logout</span>
    </button>
  </mat-list-item>

</mat-nav-list>