<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="OnClose()">
      <mat-icon>login</mat-icon>
      <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/welcome" (click)="OnClose()">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Welcome</span>
  </a>
  <a mat-list-item routerLink="/booking" (click)="OnClose()">
    <mat-icon>av_timer</mat-icon>
    <span class="nav-caption">Booking</span>
</a>
  <mat-list-item (click)="OnClose()">
      <button mat-icon-button>
          <mat-icon>eject</mat-icon>
          <span>Logout</span>
      </button>
  </mat-list-item>
</mat-nav-list>