<h2>Add an Announcement</h2>
<div class="add-announcement-form" fxLayout="column" fxLayoutAlign="center" >
    <form #f="ngForm" (ngSubmit)="onAdd(f)">
        <mat-form-field appearance="outline">
            <mat-label>Announcement Title</mat-label>
            <input matInput type="text" ngModel name="title" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <!-- <input matInput type="text" ngModel name="description" required> -->
            <textarea matInput type="text" ngModel name="description" required cols="15" rows="5"></textarea>
        </mat-form-field>
        <button type="submit" class="add-btn" mat-dialog-close [disabled]="f.invalid">Add</button>
    </form>
</div>