h2 {
    color: #deb992;
    text-align: center;
}

.add-announcement-form {
    padding: 20px;
    color: #deb992;
}

.add-btn {
    background: transparent;
    border: none;
    color: #deb992;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    left: 90%;
    top: 1.5em;
}

button:disabled {
    color: rgb(109, 104, 104);
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    border: none;
}