<div class="addFacility">
  <button class="add-btn" mat-raised-button (click)="openModal()" *ngIf="auth.canEdit(user)">
    <mat-icon>add</mat-icon>
    <span>Add a facility for booking</span>
  </button>

</div><h2>Make a new Booking</h2>

<div class="divider" style="z-index: 1000;"></div>

<div fxLayoutAlign="left center" class="filter">
  <mat-form-field fxFlex="80%" color="primary">
    <input class="filter-field" matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" color="primary">
  </mat-form-field>
</div>


<h4>Start with selecting a facility from the table below: </h4>
<!-- Bookings Table -->
<div class="booking-table">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name" >
      <mat-header-cell *matHeaderCellDef mat-sort-header class="name" style="width:150px;">Name</mat-header-cell>
      <mat-cell *matCellDef="let element" class="name">
        <button class="select-btn" mat-raised-button (click)="facilityClicked(element.name)" class="name" >{{ element.name }}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Capacity</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.capacity | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="block">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Block</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.block }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]">
  </mat-paginator>
</div>
<!-- End of Bookings Table -->

<app-date-booking id="date"></app-date-booking>

