<button mat-raised-button (click)="openModal()" *ngIf="auth.canEdit(user)">
    <mat-icon>add</mat-icon>
</button>

<h1><em>TH Announcements</em></h1>
<hr>
<p></p>

<section class="announcement-board">
    <mat-card class="a-card" *ngFor="let a of announcements">

        <mat-card-header>
            <mat-card-title>{{a.title}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            {{a.description}}
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onEdit($event, a)" *ngIf="auth.canEdit(user)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button (click)="clearState()" *ngIf="editState && announcementToEdit.id === a.id">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-actions>

        <div *ngIf="editState && announcementToEdit.id === a.id">
            <form (ngSubmit)="updateAnnouncement(a)">
                <mat-form-field appearance="outline">
                    <input matInput type="text" [(ngModel)]="a.title" name="title">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput type="text" [(ngModel)]="a.description" name="description">
                </mat-form-field>

                <button mat-raised-button type="submit">Update</button>
            </form>

            <button mat-raised-button color="warn" (click)="onDelete($event, a)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

    </mat-card>
</section>