h2 {
    text-align: center;
    color: #deb992;
    font-size: 1.2em;
    padding: 20px 20px 0px 20px;
}

.divider {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 70%;
    background-color: #deb992;
}

.announcement-board {
    padding: 20px 10px 10px 10px;
}

mat-card {
    margin: 0px 7px 15px 7px;
    background-color: #272625;
    color: #deb992;
    line-height: 20px;
    max-width: 1440px;
}

mat-icon {
    margin: 0;
}

.edit-btn {
    position: relative;
    left: 90%;
    border: none;
    background: transparent;
    cursor: pointer;
}

.edit-btn mat-icon {
    color: #deb992;
}

.add-btn {
    position: relative;
    left: 23%;
    background-color: #deb992;
    color: #1a1a1a;
    margin-top: 20px;
    font-weight: bold;
}

.close-btn {
    border: none;
    background: transparent;
    color: #deb992;
    position: relative;
    left: 90%;
}

.update-btn, .delete-btn{
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

.update-btn {
    position: relative;
    top: 1.75em;
    left: 53%;
    color: #deb992;

}

.delete-btn {
    position: relative;
    left: 80%;
    top: 0.45em;
    color: rgb(192, 0, 0);
}

mat-form-field {
    display: block;
}