h1 {
    text-align: center;
}

mat-card-title {
    text-decoration: underline;
}

.announcement-board {
    padding: 20px 10px 10px 10px;
}

.a-card {
    margin: 0px 10px 15px 10px;
}

mat-card-content {
    line-height: 20px;
}

.addAnnouncement {
    padding-left: 20px;
}