<section class="header-section" @a-fade>
    <h2>Announcements</h2>

    <div class="divider" style="z-index: 1000;"></div>
    <button class="add-btn" mat-raised-button (click)="openModal()" *ngIf="auth.canEdit(user)">
        <mat-icon>add</mat-icon>
        <span>Add an announcement</span>
    </button>
</section>

<section class="announcement-board">
    <mat-card class="a-card" *ngFor="let a of announcements" @a-fade>

        <mat-card-header>
            <mat-card-title>{{a.title}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            {{a.description}}
        </mat-card-content>

        <mat-card-actions>

            <button class="edit-btn" (click)="onEdit($event, a)" *ngIf="auth.canEdit(user) && !editState">
                <mat-icon>edit</mat-icon>
            </button>

            <button class="close-btn" (click)="clearState()" *ngIf="editState && announcementToEdit.id === a.id">
                <mat-icon>close</mat-icon>
            </button>

        </mat-card-actions>

        <div class="update-form" *ngIf="editState && announcementToEdit.id === a.id">
            <form (ngSubmit)="updateAnnouncement(a)">
                <mat-form-field appearance="outline">
                    <input matInput type="text" [(ngModel)]="a.title" name="title">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <!-- <input matInput type="text" [(ngModel)]="a.description" name="description"> -->
                    <textarea matInput type="text" [(ngModel)]="a.description" name="description" cols="30"
                        rows="5"></textarea>
                </mat-form-field>

                <button class="update-btn" type="submit">Update</button>
            </form>

            <button class="delete-btn" (click)="onDelete($event, a)">Delete</button>
        </div>

    </mat-card>
</section>