a {
    text-decoration: none;
    color: #035aa6;
}

 a:hover, a:active {
    color: grey;
}

.navigation-items {
    list-style: none;
}

.nav-caption {
    display: inline-block;
    padding: 6px;
}