/*filter field*/
/* ::ng-deep .ng-tns-c114-5 {   
    color: #deb992;
    display: flex;
    justify-content: center;
} */

h2 {
    text-align: center;
    color: #deb992;
    font-size: 1.2em;
    padding: 20px 20px 0px 20px;
}

.divider {
    position: relative;
    margin: auto;
    height: 1px;
    width: 60%;
    background-color: #deb992;
    margin-bottom: 20px;
}

.booking-table {
    margin: 10px;
}

.filter-field {
    margin: auto;
}

.mat-cell, .mat-header-cell, .mat-raised-button, .mat-paginator {
    color: #deb992;
    background-color: #272625;
}

.select-btn {
    position: relative;
    right: 1em;
    background-color: #313131;
}

::ng-deep .mat-paginator-icon { /*paginator left right arrows*/ 
    color: #deb992;
}

::ng-deep .mat-select-value-text { 
    color: #deb992;
}

::ng-deep .mat-select-arrow {
    color: #deb992;
}

::ng-deep .mat-select-panel {
    background-color: #deb992;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    font-weight: bolder;
    color: black;
}

.pending-btn {
    background-color: #313131;
}

.misc-btn { /*approved or denied button*/
    color: rgb(180, 179, 179)
}