
<div>
  <form fxLayout="column"
      fxLayoutAlign="center center" 
      [formGroup] = "timingForm"
      #f="ngForm" 
      (ngSubmit)="makeBooking()"  
      *ngIf="selectedDate">

    <mat-form-field>
      <mat-label >Select a timing for {{ dateId }}</mat-label>
      <mat-select [disabled]="disableSelect.value" formControlName="timing">
        <mat-option *ngFor="let timing of timingArray" [value]="timing" [disabled]="timing.booked" >
          {{ timing.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="text" 
            matInput 
            placeholder="Purpose of booking"
            name="purpose"
            required
            minlength="10"
            formControlName="purpose">
            <mat-error *ngIf="timingForm.value.purpose.toString().length === 0">Field empty</mat-error>
            <mat-error *ngIf="!(timingForm.value.purpose.toString().length === 0)">Elaborate more</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" 
            matInput 
            placeholder="Nus Net Id"
            name="netId"
            required
            minlength="8"
            maxlength="8"
            formControlName="netId">
            <mat-error *ngIf="timingForm.value.netId.toString().length === 0">Field empty</mat-error>
            <mat-error *ngIf="!(timingForm.value.netId.toString().length === 0)">Please enter valid netId e*******</mat-error>
    </mat-form-field>

    
    <button mat-raised-button color="accent" type="submit"  [disabled]="timingForm.invalid">Make Booking</button>
  </form>
</div>
