* {
    color: #deb992;
}

.booking-details-v1 {
    margin-left: 20px;
}

mat-form-field, button, mat-label  {
    width: 300px;
}

/deep/ .mat-option-text {
    color: black;
}

/deep/ .mat-option.mat-active {
    font-weight: bold;
}

/deep/ .ng-tns-c114-28 { /* Purpose of booking field */
    color: #deb992;
}

/deep/ .ng-tns-c114-29 { /* NUS Net ID field */
    color: #deb992;
}

.make-booking-btn {
    font-weight: bolder;
    background: transparent;
    border: none;
    font-size: 17px;
    padding-bottom: 10px;
}

button:disabled {
    color: rgb(109, 104, 104);
}