* {
    color: #deb992;
}

.no-btn {
    color: red;
}


/deep/ .mat-option.mat-active {
    color: black !important;
}

/deep/ .mat-option {
    color: black;
}

span.mat-option-text {
    color: black;
}