<div class="user-instruc" *ngIf="selectedFacility">
  <h5>You have selected: {{ selectedFacility.name }}</h5>
  <h5>Pick a date from the choices below: </h5>
</div>
<mat-grid-list cols="4" rowHeight="2:1" >
  <mat-grid-tile *ngFor="let element of displayDates">
    <button mat-raised-button width="100px" (click)="dateClicked(element.date)">
      {{ element.date.seconds * 1000 | date: "dd MMM"}}
    </button>
  </mat-grid-tile>
</mat-grid-list>

<app-time-booking id="time" *ngIf="dateSelected"></app-time-booking>
<div ></div>
